body  {
 background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.2)),url(../source/background.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;
}

.about{
  padding-left: 5px;
  text-indent: 20px;
}
.grid1{
  background-color: rgba(255, 255, 255, 0.6);
}
.cardcontainer{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.desc{
  padding: 5px;
  height: auto;
  text-align: center;
  z-index: 0;
}

.desc i{
  color: red;
}

.desc h4{
  font-size: 20px;
}

.thumbnail img{
  max-width: 100%;
  height: auto;
}

.card{
  width: 18%;
  margin-top: 10px;
  background-color: white;
  margin-left: 30px;
  margin-top: 20px;
  box-shadow: 5px 5px grey;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'profile main'
    'profile main'
    'profile main'
    'profile main';
  grid-template-columns: 200px auto;
  grid-gap: 5px;
  padding: 5px;0
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-itch{
  background: #fa5c5c;
  padding-top: 6px;
  padding-bottom: 7.5px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}
.social li{
display: inline;
}

.profile img{
  margin-left: 25px;
  border-radius: 50%;
}
.profile h3
{
  font-size: 30px;
}
.language{
  height: 150px;width: 200px;
  word-wrap: break-word;
  text-align: center;
}

.language li{
  background-color: rgba(155, 135, 12, 0.3);
  font-size: 16px;
  border-radius: 20%;
  padding: 3px;
  word-break: normal;
  white-space: normal;
  list-style-type: none;
  display: inline;
  line-height: 30px;
  margin-left: 10px;
}

.grid2{
  text-align: left;
  background-color: rgba(201, 201, 201, 0.8);
  padding:1px 16px;
  padding-bottom: 20px;
  height:auto;
}
.social p{
  text-align: center;
  color: Blue;
}
.social ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
